
@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Admin ekleme sayfası</h3>

<br />

@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Admin kullanıcı adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        <br />
        @Html.Label("Şifre giriniz")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        <br />
        @Html.Label("Rol seçiniz")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}


